build

devel

install

logs

models/

.catkin_workspace

.catkin_tools

.vscode

*.png

*.ply

*.out

*.pt

__pycache__

data/

*~

*.bag

.DS_Store

.zip

.dae

wandb/src/vehicle_simulator/mesh/autonomous_exploration_environments.zip
src/vehicle_simulator/mesh/campus/meshes/campus.dae
src/vehicle_simulator/mesh/autonomous_exploration_environments.zip
